body {
    background-color: #f2e6d8;
    font-family: Arial;
}

table {
    width: 80%;
    margin: 120px auto;
    border-collapse: collapse;
    color: #1f2933;
}

caption {
    margin-bottom: 12px;
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    color: #174c4f;
}

th,td {
    border: 2px solid #312e2e;
    padding: 14px;
    text-align: center;
    background-color: #f9fbf2;
}

th {
    background-color: #2f6f73;
    color: white;
}

#titulo {
    font-size: 22px;
    padding: 18px;
    background-color: #174c4f;
}
